*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Roboto, sans-serif;
}

#root {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #8758ff;
}
.container{
  background-color: #fff;
  /* min-width: 800px; */
  margin: 0 10px;
  min-height: 500px;
  /* border: 1px solid #000; */
  padding: 20px;
  border-radius: 6px;
}
@media (min-width: 420px){
  .container{
    width: 400px;
  }
}
@media (min-width: 1000px){
  .container{
    width: 600px;
  }
}
@media (min-width: 1400px){
  .container{
    width: 1000px;
  }
}